<div class="form-container w-50 m-auto mt-4 mb-4">
    <h1 class="fw-bolder text-center mb-4">LOGIN FORM</h1>
    <form>
        <div class="mb-3">
            <label for="inputEmail" class="form-label text-center w-100">Email</label>
            <input type="text" class="form-control" id="inputEmail">
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label text-center w-100">Password</label>
            <input type="text" class="form-control" id="inputPassword">
        </div>
        <button type="submit" class="btn btn-primary w-100 bg-dark">LOG IN</button>
    </form>
</div>