<div class="main-modified h-100 mb-4">
    <div class="presentation bg-light text-center mb-4 p-4">
        <h2 class="fw-bolder">OUR PRODUCTS</h2>
        <h3 class="h4">Discover our entire catalog.</h3>
    </div>
    <div class="products-container"></div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/real.js"></script>
