<div class="form-container w-50 m-auto mt-4 mb-4">
    <h1 class="fw-bolder text-center mb-4">REGISTER FORM</h1>
    <form>
        <div class="mb-3">
            <label for="inputName" class="form-label text-center w-100">Name</label>
            <input type="text" class="form-control" id="inputName">
        </div>
        <div class="mb-3">
            <label for="inputPhoto" class="form-label text-center w-100">Photo</label>
            <input type="text" class="form-control" id="inputPhoto">
        </div>
        <div class="mb-3">
            <label for="inputEmail" class="form-label text-center w-100">Email</label>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label text-center w-100">Password</label>
            <input type="password" class="form-control" id="inputPassword">
        </div>
        <button type="submit" class="btn btn-primary w-100 bg-dark">REGISTER</button>
    </form>
</div>